{{!< default}}

<div class="navbar">
  <div id="menu-button" onclick="menuBars(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <p id="menu-text">Menu</p>
  <div id="menu-items">
    {{#foreach navigation}}
      <a href="{{url absolute="true"}}" class="menu-item">{{label}}</a>
    {{/foreach}}
  </div>
</div>
<script>
  function menuBars(x) {
    x.classList.toggle("change");
    var el = document.getElementById('menu-items');
    el.style.display = (el.style.display === 'block' ? 'none' : 'block' );
    var menuText = document.getElementById('menu-text');
    menuText.style.display = (menuText.style.display != 'none' ? 'none' : '' );
  }
</script>
